.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav {
    font-size: 20px;
    padding-left: 2rem;
}

.nav:hover {
    cursor: pointer;
    text-decoration: none;
}